<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Details</title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>

<div style="border: 1px solid black; width: 240px; border-radius: 5px;">
    <h2 style="margin-left: 5px;">Post Details</h2>

<h3>@<%= post.username %></h3>

<p><%= post.content %></p>

<br>

<a href="/posts" class="EditBT" style="margin-left: 5px; margin-bottom: 5px;">Back</a>
</div>

</body>
</html>